.container-canvas {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.container-main {
  margin-top: 75px;
}

.fixed-panel {
  min-height: 480px;
  max-height: 480px;
  min-width: 800px;
  max-width: 800px;
}

.selection-panel {
  min-height: 540px;
  max-height: 540px;
  min-width: 800px;
  max-width: 800px;
}

.middle-btn-primary {
  margin-top: 200px;
}

.select-btn-primary {
  margin-top: 10px;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#game {
  background: #fa0814;
}

#splash {
  background: #00b3ee;
}

#characters {
  background: #00ee3e;
}